/* OrdersPage.css */

/* Style for top center button */
.top-center-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
 
/* Style for add, delete, and update buttons */
.action-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
 
/* Style for form */
.customer-form {
  max-width: 500px;
  margin: 20px auto;
  background-color: #a2a8d3; /* Change the background color */
  padding: 20px; /* Add padding for better visualization */
}
 
/* Style for filter dropdown */
.customer-filter {
  margin-top: 20px;
  background-color: #a2a8d3;
}
 
/* Vertically align buttons */
.customer-filter .mb-3 {
  display: block;
}
